@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <div>
            <label class="label label-default" for="gender">Filter Gender:</label>
            <select name="gender" id="filterGender">
                <option value="all">All</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>        
        <table class="table table-bordered">
            <thead>
                <tr class="success">
                    <th>
                        Id
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody id="tblBody">
            </tbody>
        </table>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: '/api/Employees',
            method: 'GET',
            success: function (data) {
                $('#tblBody').empty();
                $.each(data, function (index, value) {
                    var row = $('<tr> <td>' + value.ID + '</td><td>'
                        + value.FirstName + '</td><td>'
                        + value.LastName + '</td><td>'
                        + value.Gender + '</td><td>'
                        + value.Salary + '</td><td>'
                        + '<div class="row"> <div class="column"><a type="button" class="btn btn-primary" href="/home/details/' + value.ID + '"> Detail </a></div>'
                        + '<div class="column"><a type="button" class="btn btn-warning" href="/home/update/' + value.ID + '"> Update </a></div>'
                        + '<div class="column"><a type="button" class="btn btn-danger" href="/home/delete/' + value.ID + '"> Delete </a>' + '</div></div></td></tr>');
                    $('#tblBody').append(row);
                });
            },
            error: function (jQXHR) {
                
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');                
            }
        });

        $('#filterGender').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $.ajax({
                url: 'api/employees/' + valueSelected + '/gender',
                method: 'GET',
                success: function (data) {
                    $('#tblBody').empty();
                    $.each(data, function (index, value) {
                        var row = $('<tr> <td>' + value.ID + '</td><td>'
                            + value.FirstName + '</td><td>'
                            + value.LastName + '</td><td>'
                            + value.Gender + '</td><td>'
                            + value.Salary + '</td><td>'
                            + '<div class="row"> <div class="column"><a type="button" class="btn btn-primary" href="/home/details/' + value.ID + '"> Detail </a></div>'
                            + '<div class="column"><a type="button" class="btn btn-warning" href="/home/update/' + value.ID + '"> Update </a></div>'
                            + '<div class="column"><a type="button" class="btn btn-danger" href="/home/delete/' + value.ID + '"> Delete </a>' + '</div></div></td></tr>');
                        $('#tblBody').append(row);
                    });
                },
                error: function (jQXHR) {

                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });        
    });
    
</script>